<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Employee</title>
</head>
<body>
    <h1>Add Employee</h1><br><br>
    <form th:action="@{/saveEmployee}" th:object="${employee}" method="post">
    	<label>EmployeeID:</label>
        <input type="text" th:field="*{employeeID}" style="margin-left:10px;margin-bottom:15px;"/>
        <br>
        <label>Name:</label>
        <input type="text" th:field="*{name}" style="margin-left:50px;margin-bottom:15px;"/>
        <br>
        <label>Email:</label>
        <input type="email" th:field="*{email}" style="margin-left:40px;margin-bottom:15px;"/>
        <br>
        <label>Location:</label>
        <input type="text" th:field="*{location}" style="margin-left:20px;margin-bottom:15px;"/>
        <button type="submit">Save</button>
    </form>
</body>
</html>
